$text-color: #525252;

.container {
  padding: 0 0.5em;
}
.header {
  font-size: 1.5em;
  color: $text-color;
  text-align: center;
  margin-top: 15px;
}

.function__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.button__add {
  padding: 20px;
  font-size: 1em;
  color: white;
}

.search__input {
  width: 20em;
}

.button__container {
  display: flex;
  justify-content: space-around;
}

.edit__button {
  border-radius: 8px;
  // background-color: #ff6666;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  width: fit-content;
}
