.page-container {
  --bg: url("../../assets/raiseHand.png") 
  width: 100%;
  height: 100vh;
  background-image: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
