.page-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/raiseHand.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
