@use "../../index.scss" as *;

$text-color: #525252;

.container {
  padding: 0 10px;
}

.title {
  font-size: 1.5em;
  color: $text-color;
  text-align: center;
  margin-top: 15px;
}

.header-nav {
  margin-top: 10px;
  text-align: left;
  display: flex;
  background: $primary-color;
  padding: 15px;
  border-radius: 10px;
}

.nav-link {
  margin: 0 15px;
  color: $text-color;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 10;
  &.active {
    background: linear-gradient(135deg, #2774c7, #4a90e2);
    border-radius: 16px;
    color: white;
    padding: 5px;
  }
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link svg {
  margin-right: 8px;
}
